<%= form_with model: @task, local: true do |form| %>
  <%= render 'shared/task_error_message' %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.label :due_date %><br>
    <%= form.date_field :due_date %>
  </p>

  <p>
    <%= form.label :priority %><br>
    <%= form.number_field :priority %>
  </p>

  <% if params[:action] == ('update' || 'edit') %>
    <p>
      <%= form.label :finished %>
      <%= form.check_box :finished %>
    </p>
  <% end %>
  <%= form.submit class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Back', tasks_path, class: 'btn btn-primary btn-sm' %>
<% end %>