<h1><%= @task.title %></h1>
<p>
  <strong>Description</strong>
  <%= @task.description %>
</p>
<p>
  <strong>Due date</strong>
  <%= @task.due_date %>
</p>
<p>
  <strong>Priority: </strong>
  <%= @task.priority %>
</p>
<p>
  <% if @task.finished? %>  Completed
  <% else %>                Active
  <% end %>
</p>
<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-primary btn-sm' %>
<%= link_to 'Back', tasks_path, class: 'btn btn-primary btn-sm' %>